$navy-blue: #213555;
$dark-navy-blue: #0F172A;
$light-navy-blue: #4F709C;
$dirty-white: #fafafa;
$gray-navy-blue: #495464;

.login-page, .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}