$navy-blue: #213555;
$dark-navy-blue: #0F172A;
$light-navy-blue: #4F709C;
$dirty-white: #fafafa;
$gray-navy-blue: #495464;
$active-light-navy: rgba($light-navy-blue, .1);
$hover-light-navy: rgba($light-navy-blue, .25);

.login-page, .register-page, .home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: radial-gradient(circle at center left, rgba(79,112,156, 0.1),rgba(79,112,156, 0.5));
}

.nav-sidebar {
    background-color: white;
    position: absolute;
    color: $dark-navy-blue;
    width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.button-role {
    color: $dark-navy-blue;
    background-color: white;
    outline: $navy-blue solid 1px;
}

.button-role:hover {
    color: white;
    background-color: $light-navy-blue;
}

.button-role-admin {
    background-color: $gray-navy-blue;
}

.button-role-admin:hover {
    background-color: $navy-blue;
}

.input-navy:focus-visible {
    box-shadow: $light-navy-blue;
    // outline: $light-navy-blue solid 2px;
    // outline-offset: 1px;
}