@import 'App';

.nav-student {
    background-color: white;
    position: absolute;
    color: $dark-navy-blue;
    width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.student-content {
    background-color: $dirty-white;
    margin-left: 13rem;
    padding: 2rem;
}

.student-container {
    background-color: white;
    padding: 2rem;
}

.logo-cont {
    border-bottom: $light-navy-blue 1px solid;
    height: 4rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    // justify-content: center;
}

.logo-cont img {
    height: 2.75rem;
}

.student-nav-link {
    text-align: left;
    padding-inline: 3rem;
    padding-block: .75rem;
}


.student-links {
    position: relative;
    flex: 1;
}

#logout-btn-in-links {
    position: absolute;
    bottom: 2rem;
}

#logout-btn-in-links:hover, .student-nav-link:hover {
    cursor: pointer;
}