@import 'App';

.main-content {
    // background-color: rgba($light-navy-blue, .1);
    background-image: radial-gradient(circle at center left, rgba(79,112,156, 0.1),rgba(79,112,156, 0.25));
    margin-left: 13rem;
    padding: 2rem;
}

.student-container {
    background-color: white;
    padding: 2rem;

    .info-cont {
        .info-cont-head {
            border-bottom: $light-navy-blue solid 2px;
            display: flex;
            justify-content: center;
            align-items: end;

            .student-name {
                p {
                    font-size: xx-large;
                    white-space: normal;
                    overflow-wrap: break-word;
                    // line-height: 2.5rem;
                }
            }

            .edit-profi-btn {
                transition: .2s all;
            }

            .edit-profi-btn:hover {
                cursor: pointer;
                color: $light-navy-blue;
            }
        }

        .info-cont-body {
            display: flex;
            justify-content: center;

            .info-data-cont {
                width: 100%;
                display: flex;
                gap: 1.5rem;

                label {
                    text-align: right;
                    color: #555;
                    width: 8rem;
                }

                span {
                    // font-size: large;
                    flex: 1;
                    word-break: break-all;
                    border-bottom: #ccc solid 1px;
                    padding-bottom: .5rem;
                }
            }
        }
    }
}

.logo-cont {
    border-bottom: $light-navy-blue 2px solid;
    height: 4rem;
    padding-block: .5rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    // justify-content: center;
}

.logo-cont img {
    height: 2.75rem;
}

.side-nav-link {
    text-align: left;
    padding: .75rem;
    color: $dark-navy-blue;
}

.side-nav-link:hover{
    transition: all .3s;
    background-color: rgba($light-navy-blue, .1);
}

.side-nav-link.active {
    background-color: rgba($light-navy-blue, .25);
}

.side-bar-links {
    position: relative;
    flex: 1;
}

#logout-btn-in-links {
    color: $navy-blue;
}

#logout-btn-in-links:hover {
    background-color: transparent;
    box-shadow: 0 1px 3px 0 rgba(lightpink, .5), 0 1px 2px -1px rgba(lightpink, .5);
    color: indianred;
    cursor: pointer;
}

.card-data-count {
    background-color: rgba($light-navy-blue, .1);
}